{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<nav> <!-- Navbar -->
    <a href="./">MHC Scheduler</a>
    <a href="signin">Account</a>
</nav>
<main>
    <div class="userSubnav">
        <h1>Your Pending Swaps</h1>
        <a href="?swap=0">Request New Swap</a>
    </div>
    {% if days|length > 0 %}
    <table>
        <tr>
            <th>Name</th>
            <th>Their Day</th>
            <th>Your Day</th>
            <th>Oncall/Crisis</th>
            <th>Approve</th>
            <th>Deny</th>
        </tr>
        {% for day in days %}
        <tr>
            <td>{{ day['name'] }}</td>
            <td>{{ day['day1Name'] }}</td>
            <td>{{ day['day2Name'] }}</td>
            {% if day['crisis'] == 0 %}
            <td>Oncall</td>
            {% else %}
            <td>Crisis</td>
            {% endif %}
            <td>
                <form action="#" method="post">
                    <input type="hidden" name="id" value="{{ day['id'] }}">
                    <input type="submit" value="Approve" name="approveSwap">
                </form>
            </td>
            <td>
                <form action="#" method="post">
                    <input type="hidden" name="id" value="{{ day['id'] }}">
                    <input type="submit" value="Deny" name="denySwap">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    You have no pending swap requests
    {% endif %}
    <div class="userSubnav">
        <h1>Days Needing Volunteers</h1>
    </div>
    {% if volunteerDays|length > 0 %}
    <table>
        <tr>
            <th>Date</th>
            <th>Volunteer</th>
        </tr>
        {% for volunteerDay in volunteerDays %}
        <tr>
            <td>{{ volunteerDay['date'] }}</td>
            <form action="#" method="post">
                <input type="hidden" name="id" value="{{ volunteerDay['id'] }}">
                <td><input type="submit" value="Volunteer" name="volunteer"></td>
            </form>
            
        </tr>
        {% endfor %}
    </table>
    {% else %}
    There are no days you can volunteer for
    {% endif %}
</main>

<div>
    <hr>
    {% if pendingSwaps is defined %}
    <div class="adminExpand">
        <h2>Pending Swaps (##)</h2>
        <a href="?">Minimize</a><br>
    </div>
    <table>
        <tr>
            <th>Requester Name</th>
            <th>Their Day</th>
            <th>Requested Day</th>
            <th>Oncall/Crisis</th>
            <th>Approve</th>
            <th>Deny</th>
        </tr>
        {% for day in pendingSwaps %}
        <tr>
            <td>{{ day['name'] }}</td>
            <td>{{ day['day1Name'] }}</td>
            <td>{{ day['day2Name'] }}</td>
            {% if day['crisis'] == 0 %}
            <td>Oncall</td>
            {% else %}
            <td>Crisis</td>
            {% endif %}
            <td>
                <form action="#" method="post">
                    <input type="hidden" name="id" value="{{ day['id'] }}">
                    <input type="submit" value="Approve" name="approveSwap">
                </form>
            </td>
            <td>
                <form action="#" method="post">
                    <input type="hidden" name="id" value="{{ day['id'] }}">
                    <input type="submit" value="Deny" name="denySwap">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="adminExpand">
        <h2>Pending Swaps (##)</h2>
        <a href="?pending=1">Expand</a><br>
    </div>
    {% endif %}
    <hr>
    {% if users is defined %}
    <div class="adminExpand">
        <h2>Users (##)</h2>
        <a href="./editUser?id=0">Add new user</a>
        <a href="?">Minimize</a><br>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Oncall Weight</th>
            <th>Admin</th>
            <th>Edit</th>
        </tr>
        {% for user in users %}
        <tr>
            <td style="color: {{ user['color'] }}">{{ user['name'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['number'] }}</td>
            <td>{{ user['weight'] }}</td>
            {% if user['admin'] == 1 %}
            <td>Admin</td>
            {% else %}
            <td>User</td>
            {% endif %}
            <td><a href="./editUser?id={{ user['id'] }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="adminExpand">
        <h2>Users (##)</h2>
        <a href="?users=1">Expand</a><br>
    </div>
    {% endif %}
    <hr>
    {% if suspicious is defined %}
    <div class="adminExpand">
        <h2>Suspicious Activity (## Unread)</h2>
        <a href="?">Minimize</a><br>
    </div>
    Nothing recorded here is concrete proof that the end-user is trying to hack. It could be a result of bad-programming, end-user mistakes or other.
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Details</th>
            <th>Timestamp</th>
        </tr>
        {% for event in suspicious %}
        <tr>
            {% if event['name'] == none %}
            <td>Unknown</td>
            {% else %}
            <td>{{ event['name'] }}</td>
            {% endif %}
            {% if event['type'] == 1 %}
            <td>URL Injection</td>
            {% elif event['type'] == 2 %}
            <td>Client Code Manipulation</td>
            {% elif event['type'] == 3 %}
            <td>
                Foriegn Post Request<br>
                or Client Code Manipulation
            </td>
            {% else %}
            <td>Unknown/Other</td>
            {% endif %}
            <td>{{ event['details'] }}</td>
            <td>{{ event['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="adminExpand">
        <h2>Suspicious Activity (## Unread)</h2>
        <a href="?suspicious=1">Expand</a><br>
    </div>
    {% endif %}
    <hr>
    {% if swapHistory is defined %}
    <div class="adminExpand">
        <h2>Swap History</h2>
        <a href="?">Minimize</a><br>
    </div>
    <table>
        <tr>
            <th>Requester Name</th>
            <th>Requested Person</th>
            <th>Approved by</th>
            <th>Their Day</th>
            <th>Requested Day</th>
            <th>Oncall/Crisis</th>
            <th>Approved/Denied</th>
            <th>Timestamp</th>
        </tr>
        {% for day in swapHistory %}
        <tr>
            <td>{{ day['name'] }}</td>
            <td>{{ day['name2'] }}</td>
            <td>{{ day['name3'] }}</td>
            <td>{{ day['day1Name'] }}</td>
            <td>{{ day['day2Name'] }}</td>
            {% if day['crisis'] == 0 %}
            <td>Oncall</td>
            {% else %}
            <td>Crisis</td>
            {% endif %}
            {% if day['approved'] == 1 %}
            <td>Approved</td>
            {% else %}
            <td>Denied</td>
            {% endif %}
            <td>{{ day['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="adminExpand">
            <h2>Swap History</h2>
            <a href="?swapHistory=1">Expand</a><br>
        </div>
    {% endif %}
    <hr>
    {% if oncallHistory is defined %}
    <div class="adminExpand">
        <h2>Oncall History</h2>
        <a href="?">Minimize</a><br>
    </div>
    <table>
        <tr>
            <th>Date</th>
            <th>Oncall</th>
            <th>Crisis</th>
            <th>Oncall/Crisis Shift</th>
        </tr>
        {% for day in oncallHistory %}
        <tr>
            <td>{{ day['date'] }}</td>
            <td>{{ day['person1'] }}</td>
            <td>{{ day['person2'] }}</td>
            <td>TODO</td> <!-- TODO: CHECK IF THIS FIELD IS REQURIED AND MAKE IT -->
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="adminExpand">
        <h2>Oncall History</h2>
        <a href="?oncallHistory=1">Expand</a><br>
    </div>
    {% endif %}
    <hr>
    {% if settings is defined %}
    <div class="adminExpand">
        <h2>Settings</h2>
        <a href="?">Minimize</a><br>
    </div>
    <form action="#" method="post">
        <label for="scheduleAhead">Weeks to schedule in advance:</label>
        <input type="number" name="weeks" id="sceduleAhead" value="{{ settings['weeks'] }}">
        <input type="submit" value="Submit" name="updateWeeks">
    </form>
    {% else %}
    <div class="adminExpand">
        <h2>Settings</h2>
        <a href="?settings=1">Expand</a><br>
    </div>
    {% endif %}
    <hr>
</div>
{% endblock %}