{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<nav> <!-- Navbar -->
    <a href="./">MHC Scheduler</a>
    <div>
        <a href="./account">Admin</a>
        <a href="./signin">Account</a>
    </div>
</nav>
<main class="editUser">
    {% if user == 0 %}
    <form action="./editUser?id=0" method="post" class="editUser">
        <p style="color:red; text-align: center; font-size: 1.5rem;">{{ warn }}</p>
        <input type="hidden" name="new" value="1">
        <input required autocomplete="off" type="text" name="name" placeholder="Name">
        <input required autocomplete="off" type="password" name="password" placeholder="Password"id="password">
        <input required autocomplete="off" type="email" name="email" placeholder="Email">
        <input required autocomplete="off" type="text" name="color" placeholder="HTML Color" id="colorInput">
        <h3>Sessions</h3>
        <div class="sessions">
            <div>
                <input type="checkbox" name="sessions" value="1" id="mm"><label for="mm">Monday Morning</label><br>
                <input type="checkbox" name="sessions" value="4" id="tm"><label for="tm">Tuesday Morning</label><br>
                <input type="checkbox" name="sessions" value="16" id="wm"><label for="wm">Wednesday Morning</label><br>
                <input type="checkbox" name="sessions" value="64" id="thm"><label for="thm">Thursday Morning</label><br>
                <input type="checkbox" name="sessions" value="256" id="fm"><label for="fm">Friday Morning</label><br>
            </div>
            <div>
                <input type="checkbox" name="sessions" value="2" id="ma"><label for="ma">Monday Afternoon</label><br>
                <input type="checkbox" name="sessions" value="8" id="ta"><label for="ta">Tuesday Afternoon</label><br>
                <input type="checkbox" name="sessions" value="32" id="wa"><label for="wa">Wednesday Afternoon</label><br>
                <input type="checkbox" name="sessions" value="128" id="tha"><label for="tha">Thursday Afternoon</label><br>
                <input type="checkbox" name="sessions" value="512" id="fa"><label for="fa">Friday Afternoon</label>
            </div>
        </div>
        <span><input checked onclick="frequencyVisibility()" type="checkbox" name="updateWeight" id="weight"><label for="weight">Set oncall frequency by number of sessions</label></span>
        <input style="display: none;" autocomplete="off" type="number" name="weight" min="0" max="10" step="1" placeholder="Oncall Weight (1-10)" value="0">
        <table class="dates">
            <tr>
                <td><label for="active">Active: </label></td>
                <td><input checked type="radio" name="start" value="now" id="active"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="startDateCheck">Start Date: </label></td>
                <td><input type="radio" name="start" id="startDateCheck"></td>
                <td><input type="date" name="startDate" id="DatePicker"></td>
            </tr>
            <tr>
                <td><label for="endDateCheck">End Date: </label></td>
                <td><input checked type="checkbox" name="endDateCheck" id="endDateCheck"></td>
                <td><input type="date" name="endDate" id="endDatePicker"></td>
            </tr>
        </table>
        <span><input type="checkbox" name="admin" id="admin"><label for="admin">Admin Permissions</label></span>
        <input type="submit" value="Submit">

    {% else %}
    <form action="./editUser?id={{ user['id'] }}" method="post" class="editUser">
        <p style="color:red; text-align: center; font-size: 1.5rem;">{{ warn }}</p>
        {% if isNew is defined %}
        <input type="hidden" name="new" value="1">
        {% else %}
        <input type="hidden" name="id" value="{{ user['id'] }}">
        {% endif %}
        <input required autocomplete="off" type="text" name="name" placeholder="Name" value="{{ user['name'] }}">
        <input required autocomplete="off" type="password" name="password" placeholder="Password" value="{{ user['password'] }}" id="password">
        <input required autocomplete="off" type="email" name="email" placeholder="Email" value="{{ user['email'] }}">
        <input required autocomplete="off" type="text" name="color" placeholder="HTML Color" value="{{ user['color'] }}" id="colorInput">
        <h3>Sessions</h3>
        <div class="sessions">
            <div>
                <input {{ sessionData['mm'] }} type="checkbox" name="sessions" value="1" id="mm"><label for="mm">Monday Morning</label><br>
                <input {{ sessionData['tm'] }} type="checkbox" name="sessions" value="4" id="tm"><label for="tm">Tuesday Morning</label><br>
                <input {{ sessionData['wm'] }} type="checkbox" name="sessions" value="16" id="wm"><label for="wm">Wednesday Morning</label><br>
                <input {{ sessionData['thm'] }} type="checkbox" name="sessions" value="64" id="thm"><label for="thm">Thursday Morning</label><br>
                <input {{ sessionData['fm'] }} type="checkbox" name="sessions" value="256" id="fm"><label for="fm">Friday Morning</label><br>
            </div>
            <div>
                <input {{ sessionData['ma'] }} type="checkbox" name="sessions" value="2" id="ma"><label for="ma">Monday Afternoon</label><br>
                <input {{ sessionData['ta'] }} type="checkbox" name="sessions" value="8" id="ta"><label for="ta">Tuesday Afternoon</label><br>
                <input {{ sessionData['wa'] }} type="checkbox" name="sessions" value="32" id="wa"><label for="wa">Wednesday Afternoon</label><br>
                <input {{ sessionData['tha'] }} type="checkbox" name="sessions" value="128" id="tha"><label for="tha">Thursday Afternoon</label><br>
                <input {{ sessionData['fa'] }} type="checkbox" name="sessions" value="512" id="fa"><label for="fa">Friday Afternoon</label>
            </div>
        </div>
        <span><input checked onclick="frequencyVisibility();" type="checkbox" name="updateWeight" id="weight"><label for="weight">Update oncall frequency by number of sessions</label></span>
        <input style="display: none;" autocomplete="off" type="number" id="weightInput" name="weight" min="0" max="10" step="1" placeholder="Oncall Frequency (1-10)">
        <table class="dates">
            <tr>
                <td><label for="active">Active: </label></td>
                <td><input checked type="radio" name="start" value="now" id="active"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="startDateCheck">Start Date: </label></td>
                <td><input type="radio" name="start" id="startDateCheck"></td>
                <td><input type="date" name="startDate" id="DatePicker"></td>
            </tr>
            <tr>
                <td><label for="endDateCheck">End Date: </label></td>
                <td><input checked type="checkbox" name="endDateCheck" id="endDateCheck"></td>
                <td><input type="date" name="endDate" id="endDatePicker"></td>
            </tr>
        </table>
        {% if user['admin'] == 1 %}
        <span><input checked type="checkbox" name="admin" id="admin"><label for="admin">Admin Permissions</label></span>
        {% else %}
        <span><input type="checkbox" name="admin" id="admin"><label for="admin">Admin Permissions</label></span>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
    {% endif %}
</main>
<script>
    function frequencyVisibility()
    {
        updateFrequencyInput = document.getElementById("weight");
        frequencyInput = document.getElementById("weightInput");
        if (!updateFrequencyInput.checked)
        {
            frequencyInput.style.display = "block";
        }
        else
        {
            frequencyInput.style.display = "none";
        }
    }

    function updateColorInput()
    {
        colourInput = document.getElementById("colorInput");
        colourInput.style.color = colourInput.value;
        if (colourInput.style.color != colourInput.value)
        {
            colourInput.style.color = "black"
        }
    }

    document.getElementById("colorInput").addEventListener("keyup", updateColorInput)

    updateColorInput();
</script>
{% endblock %}