{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<nav> <!-- Navbar -->
    <a href="./">MHC Scheduler</a>
    <div>
        {% if controlText is defined %}
        <a href="{{ controlLink }}">{{ controlText }}</a>
        {% endif %}
        <a href="signin">Account</a>
    </div>
    
</nav>
<main>
    <form method="get">
        <label for="filter">Filter: </label>
        <select name="person" id="filter">
            <option disabled selected>Name</option>
            {% for person in people %}
                <option value="{{ person['id'] }}" name="person">{{ person['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </form>
    <a href="javascript:if(window.print)window.print()" class="print">Print</a>
    <table>
        <tr>
            <th>Day</th>
            <th>Oncall</th>
            <th>Crisis</th>
        </tr>
        {% for day in days %}
        <tr>
            <td>{{ day['date'] }}</td>
            {% if day['oncall'] != None %}
            <td style="color: {{ day['oncallColor'] }}">{{ day['oncall'] }}</td>
            {% else %}
            <td>Volunteer</td>
            {% endif %}
            <td style="color: {{ day['crisisColor'] }}">{{ day['crisis'] }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}