{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<nav> <!-- Navbar -->
    <a href="./">MHC Scheduler</a>
    <div>
        {% if controlText is defined %}
        <a href="{{ controlLink }}">{{ controlText }}</a>
        {% endif %}
        <a href="signin">Account</a>
    </div>
    
</nav>
<main>
    <div class="userSubnav">
        <h1 id="title">Request Swap - Step 1: Select Your Own Oncall</h1>
    </div>
    <p style="color:red; text-align: center; font-size: 1.5rem;">{{ warn }}</p>

    <form action="#" method="post">
        <input type="checkbox" name="crisis" id="crisis"><label id="crisisLabel" for="crisis">Swap Crisis</label><br>

        <!-- Progress Buttons -->
        <a href="?">Cancel</a>
        <button disabled type="button" id="nextStep">Next Step &rarr;</button>
        <button type="button" id="stepBack" class="hidden">&larr; Back</button>
        <button disabled type="button" id="confirm" class="hidden">Next Step &rarr;</button>
        <input disabled class="hidden" id="submitButton" type="submit" value="Request Swap" name="swapRequest">

        <div id="selectedDays" class="hidden">
            <h3>Selected Days</h3>
            <p id="selectedDay1"></p>
            <p id="selectedDay2"></p>
        </div>

        <!-- table to select your own oncall -->
        <table id="ownOncallTable">
            <tr>
                <th>Select</th>
                <th>Day</th>
                <th>Oncall</th>
                <th>Crisis</th>
            </tr>
            {% for day in selfOncall %}
            <tr>
                <td><input type="checkbox" name="ownOncall" value="{{ day['id'] }}" onclick="disableOtherBoxes();" data-conflict_id="{{ day['p2id'] }}" data-date="{{ day['date'] }}"></td>
                <td>{{ day['date'] }}</td>
                <td class="oncallColumn" data-id="{{ day['p1id'] }}">{{ day['p1Name'] }}</td>
                <td class="crisisColumn" data-id="{{ day['p2id'] }}">{{ day['p2Name'] }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- table to select your own crisis -->
        <table class="hidden" id="ownCrisisTable">
            <tr>
                <th>Select</th>
                <th>Day</th>
                <th>Oncall</th>
                <th>Crisis</th>
            </tr>
            {% for day in selfCrisis %}
            <tr>
                <td><input type="checkbox" name="ownCrisis" value="{{ day['id'] }}" onclick="disableOtherBoxes();"  data-conflict_id="{{ day['p1id'] }}" data-date="{{ day['date'] }}"></td>
                <td>{{ day['date'] }}</td>
                <td class="oncallColumn" data-id="{{ day['p1id'] }}">{{ day['p1Name'] }}</td>
                <td class="crisisColumn" data-id="{{ day['p2id'] }}">{{ day['p2Name'] }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- table to select the other oncall -->
        <table class="hidden" id="otherOncallTable">
            <tr>
                <th>Select</th>
                <th>Day</th>
                <th>Oncall</th>
                <th>Crisis</th>
            </tr>
            {% for day in otherOncall %}
            <tr>
                <td><input type="checkbox" name="otherOncall" value="{{ day['id'] }}" onclick="disableOtherBoxes();" data-date="{{ day['date'] }}"></td>
                <td>{{ day['date'] }}</td>
                <td class="oncallColumn" data-id="{{ day['p1id'] }}">{{ day['p1Name'] }}</td>
                <td class="crisisColumn" data-id="{{ day['p2id'] }}">{{ day['p2Name'] }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- table to select the other oncall -->
        <table class="hidden" id="otherCrisisTable">
            <tr>
                <th>Select</th>
                <th>Day</th>
                <th>Oncall</th>
                <th>Crisis</th>
            </tr>
            {% for day in otherCrisis %}
            <tr>
                <td><input type="checkbox" name="otherCrisis" value="{{ day['id'] }}" onclick="disableOtherBoxes();" data-date="{{ day['date'] }}"></td>
                <td>{{ day['date'] }}</td>
                <td class="oncallColumn" data-id="{{ day['p1id'] }}">{{ day['p1Name'] }}</td>
                <td class="crisisColumn" data-id="{{ day['p2id'] }}">{{ day['p2Name'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>

</main>

{% endblock %}

{% block script %}
<script>
    const crisis = document.getElementById('crisis');
    const crisisLabel = document.getElementById("crisisLabel");
    const title = document.getElementById('title');
    const ownOncallTable = document.getElementById('ownOncallTable');
    const ownCrisisTable = document.getElementById('ownCrisisTable');
    const otherOncallTable = document.getElementById('otherOncallTable');
    const otherCrisisTable = document.getElementById('otherCrisisTable');
    const nextStep = document.getElementById('nextStep');
    const stepBack = document.getElementById('stepBack');
    const confirmButton = document.getElementById('confirm');
    const submitButton = document.getElementById('submitButton');

    let oncallFirstStepComplete = false
    let crisisFirstStepComplete = false
    let oncallSecondStepComplete = false
    let crisisSecondStepComplete = false

    function disableOtherBoxes() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const name = this.name;
                if (this.checked) {
                    if (name == "ownOncall" || name == "ownCrisis") {
                        nextStep.disabled = false;
                        if (crisis.checked) {
                            crisisFirstStepComplete = true;
                        } else {
                            oncallFirstStepComplete = true;
                        }
                    } else if (name == "otherOncall" || name == "otherCrisis") {
                        confirmButton.disabled = false;
                        if (crisis.checked) {
                            crisisSecondStepComplete = true;
                        } else {
                            oncallSecondStepComplete = true;
                        }
                    }
                    checkboxes.forEach(box => {
                        if (box.name === name && box !== this) {
                            box.disabled = true;
                        }
                    });
                } else {
                    if (name == "ownOncall" || name == "ownCrisis") {
                        nextStep.disabled = true;
                        if (crisis.checked) {
                            crisisFirstStepComplete = false;
                        } else {
                            oncallFirstStepComplete = false;
                        }
                    } else if (name == "otherOncall" || name == "otherCrisis") {
                        confirmButton.disabled = true;
                        if (crisis.checked) {
                            crisisSecondStepComplete = false;
                        } else {
                            oncallSecondStepComplete = false;
                        }
                    }
                    checkboxes.forEach(box => {
                        if (box.name === name) {
                            box.disabled = false;
                        }
                    });
                }
            });
        });
    }

    function hideConflictingRows(selectedId, tableId, columnClass) {
        console.log("Conflicting row id: " + selectedId);
        const table = document.getElementById(tableId);
        const rows = table.getElementsByTagName('tr');
        for (let i = 0; i < rows.length; i++) {
            const row = rows[i];
            const column = row.getElementsByClassName(columnClass)[0];
            if (column && column.dataset.id === selectedId) {
                console.log("Hiding row");
                row.classList.add('hidden');
            } else {
                console.log("Showing row");
                row.classList.remove('hidden');
            }
        }
    }

    crisis.addEventListener('change', () => {
        if (crisis.checked) {
            title.innerText = 'Request Swap - Step 1: Select Your Own Crisis';
            ownOncallTable.classList.add('hidden');
            ownCrisisTable.classList.remove('hidden');
            otherOncallTable.classList.add('hidden');
            otherCrisisTable.classList.add('hidden');
            if (crisisFirstStepComplete) {
                nextStep.disabled = false;
            } else {
                nextStep.disabled = true;
            }
        } else {
            title.innerText = 'Request Swap - Step 1: Select Your Own Oncall';
            ownOncallTable.classList.remove('hidden');
            ownCrisisTable.classList.add('hidden');
            otherOncallTable.classList.add('hidden');
            otherCrisisTable.classList.add('hidden');
            if (oncallFirstStepComplete) {
                nextStep.disabled = false;
            } else {
                nextStep.disabled = true;
            }
        }
    });

    nextStep.addEventListener('click', () => {
        if (crisis.checked) {
            title.innerText = 'Request Swap - Step 2: Select the other Crisis';
            ownCrisisTable.classList.add('hidden');
            otherCrisisTable.classList.remove('hidden');
            if (crisisSecondStepComplete) {
                confirmButton.disabled = false;
            } else {
                confirmButton.disabled = true;
            }
            const selectedCrisisId = document.querySelector('input[name="ownCrisis"]:checked').dataset.conflict_id;
            hideConflictingRows(selectedCrisisId, 'otherCrisisTable', 'crisisColumn');
        } else {
            title.innerText = 'Request Swap - Step 2: Select the other Oncall';
            ownOncallTable.classList.add('hidden');
            otherOncallTable.classList.remove('hidden');
            if (oncallSecondStepComplete) {
                confirmButton.disabled = false;
            } else {
                confirmButton.disabled = true;
            }
            const selectedOncallId = document.querySelector('input[name="ownOncall"]:checked').dataset.conflict_id;
            hideConflictingRows(selectedOncallId, 'otherOncallTable', 'oncallColumn');
        }
        crisis.classList.add('hidden');
        crisisLabel.classList.add('hidden');
        nextStep.classList.add('hidden');
        stepBack.classList.remove('hidden');
        confirmButton.classList.remove('hidden');
    });

    stepBack.addEventListener('click', () => {
        if (crisis.checked) {
            title.innerText = 'Request Swap - Step 1: Select Your Own Crisis';
            ownCrisisTable.classList.remove('hidden');
            otherCrisisTable.classList.add('hidden');
        } else {
            title.innerText = 'Request Swap - Step 1: Select Your Own Oncall';
            ownOncallTable.classList.remove('hidden');
            otherOncallTable.classList.add('hidden');
        }
        crisis.classList.remove('hidden');
        crisisLabel.classList.remove('hidden');
        nextStep.classList.remove('hidden');
        stepBack.classList.add('hidden');
        confirmButton.classList.add('hidden');
        submitButton.classList.add('hidden');
        document.getElementById('selectedDays').classList.add('hidden');
    });

    confirmButton.addEventListener('click', () => {
        title.innerText = 'Request Swap - Step 3: Confirm Swap';
        let selectedDay1, selectedDay2;

        if (crisis.checked) {
            otherCrisisTable.classList.add('hidden');
            selectedDay1 = document.querySelector('input[name="ownCrisis"]:checked').dataset.date;
            selectedDay2 = document.querySelector('input[name="otherCrisis"]:checked').dataset.date;
        } else {
            otherOncallTable.classList.add('hidden');
            selectedDay1 = document.querySelector('input[name="ownOncall"]:checked').dataset.date;
            selectedDay2 = document.querySelector('input[name="otherOncall"]:checked').dataset.date;
        }

        confirmButton.classList.add('hidden');
        submitButton.classList.remove('hidden');
        submitButton.disabled = false;

        // Display the selected days to the user
        document.getElementById('selectedDay1').innerText = `Your Day: ${selectedDay1}`;
        document.getElementById('selectedDay2').innerText = `Selected Day: ${selectedDay2}`;
        document.getElementById('selectedDays').classList.remove('hidden');
    });
    
</script>
{% endblock %}