{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<nav> <!-- Navbar -->
    <a href="./">MHC Scheduler</a>
    <a href="signin">Account</a>
</nav>
<main>
    <div class="userSubnav">
        <h1>Pending Swaps</h1>
        <a href="?swap=0">Request New Swap</a>
    </div>
    {% if days|length > 0 %}
    <table>
        <tr>
            <th>Name</th>
            <th>Their Day</th>
            <th>Your Day</th>
            <th>Oncall/Crisis</th>
            <th>Approve</th>
            <th>Deny</th>
        </tr>
        {% for day in days %}
        <tr>
            <td>{{ day['name'] }}</td>
            <td>{{ day['day1Name'] }}</td>
            <td>{{ day['day2Name'] }}</td>
            {% if day['crisis'] == 0 %}
            <td>Oncall</td>
            {% else %}
            <td>Crisis</td>
            {% endif %}
            <td>
                <form action="#" method="post">
                    <input type="hidden" name="id" value="{{ day['id'] }}">
                    <input type="submit" value="Approve" name="approveSwap">
                </form>
            </td>
            <td>
                <form action="#" method="post">
                    <input type="hidden" name="id" value="{{ day['id'] }}">
                    <input type="submit" value="Deny" name="denySwap">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    You have no pending swap requests
    {% endif %}
    <div class="userSubnav">
        <h1>Days Needing Volunteers</h1>
    </div>
    {% if volunteerDays|length > 0 %}
    <table>
        <tr>
            <th>Date</th>
            <th>Volunteer</th>
        </tr>
        {% for volunteerDay in volunteerDays %}
        <tr>
            <td>{{ volunteerDay['date'] }}</td>
            <form action="#" method="post">
                <input type="hidden" name="id" value="{{ volunteerDay['id'] }}">
                <td><input type="submit" value="Volunteer" name="volunteer"></td>
            </form>
            
        </tr>
        {% endfor %}
    </table>
    {% else %}
    There are no days you can volunteer for
    {% endif %}
</main>
{% endblock %}